<%= form_for(@custom_question_attendee) do |f| %>
  <% if @custom_question_attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_question_attendee.errors.count, "error") %> prohibited this custom_question_attendee from being saved:</h2>

      <ul>
      <% @custom_question_attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :attendee_id %><br />
    <%= f.text_field :attendee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
