<h1>Listing associated_attendees</h1>

<table>
  <tr>
    <th>Attendee</th>
    <th>Associated attendee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @associated_attendees.each do |associated_attendee| %>
  <tr>
    <td><%= associated_attendee.attendee_id %></td>
    <td><%= associated_attendee.associated_attendee_id %></td>
    <td><%= link_to 'Show', associated_attendee %></td>
    <td><%= link_to 'Edit', edit_associated_attendee_path(associated_attendee) %></td>
    <td><%= link_to 'Destroy', associated_attendee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Associated attendee', new_associated_attendee_path %>
