<% form_tag('/attendees/fullfill/') do %>
<dl>
  <dt><%= label_tag 'attendee[first_name]', 'first_name' %></dt>
  <dd><%=   text_field_tag 'attendee[first_name]' %></dd>
  <dt><%= label_tag 'attendee[last_name]', 'last_name' %></dt>
  <dd><%=   text_field_tag 'attendee[last_name]' %></dd>
</dl>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>
